/* CSS: formBooking */
.formBooking {
    position: relative;
    top: -55px;
}

.formBooking-container {
    background-color: #53624E;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* CSS: formBooking - Row*/
.formBooking-row {
    justify-content: space-around;
}

/* CSS: formBooking - Form-Input*/
.form-input {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid #B99D75;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

/* CSS: formBooking - Rooms */
.form-input>label {
    font-family: "Roboto", sans-serif;
    width: 25%;
    font-size: 15px;
}


.form-input>div {
    width: 60%;
    display: flex;
    align-items: center;
}

.form-input .form-input__options {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    color: white;
    position: relative;
    margin-right: 5px;
    font-size: 15px;
}

.form-input>div .icon-dropdown {
    color: rgb(195, 194, 194);
    position: relative;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.form-input-dropdown {
    cursor: auto;
    position: absolute;
    bottom: -155px;
    left: 0;
    width: 300px !important;
    background-color: white;
    border: 2px solid #B99D75;
    border-radius: 3px;
    color: black;
    padding: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: showPopupDropdown 0.7s 1 forwards;
}

.form-dropdown-flex {
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-dropdown-flex>label {
    cursor: auto;
    width: 30%;
}

.form-dropdown-flex>p {
    width: 60%;
    text-align: right;
}

.form-dropdown-flex>p>span {
    margin: 0 20px;
}

.form-dropdown-flex>p>.icon-quantity-increase,
.form-dropdown-flex>p>.icon-quantity-decrease {
    cursor: pointer;
    position: relative;
    top: 2px;
}

/* CSS: formBooking - Button */
.formBooking-search {
    height: 50px;
}

.btn-search {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    height: inherit;
    background-color: #B99D75;
    color: white;
    border-radius: 2px;
    border: 3px solid transparent;
    width: 100%;
    font-size: 1rem;
    transition: 0.3s all ease;
}

/* Active */
@keyframes showPopupDropdown {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Effect CSS */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #53624E;
}

.form-input input:focus {
    outline: 0;
}

.btn-search:hover {
    background: rgba(185, 157, 117, 0.7);
}

/* Responsive */
@media screen and (max-width:575px) {
    .formBooking {
        top: -150px;
    }

    .formBooking-row {
        justify-content: space-between;
        gap: 20px 0;
    }

    .form-input {
        width: 49%;
        height: 50px;
        font-size: 0.8rem;
        padding: 0 5px;
    }

    .form-input>label,
    .form-input .form-input__options {
        font-size: 0.8rem;
        text-align: left;
        padding-left: 10px;
    }

    .form-input-dropdown {
        width: 85% !important;
        bottom: -150px;
    }

    .btn-search {
        font-size: 0.9rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .formBooking {
        top: -150px;
    }

    .formBooking-row {
        justify-content: space-between;
        gap: 20px 0;
    }

    .form-input {
        width: 49%;
        height: 50px;
        font-size: 0.8rem;
        padding: 0;
    }


    .form-input>label,
    .form-input .form-input__options {
        font-size: 0.8rem;
        text-align: left;
        padding-left: 10px;
    }


    .form-input-dropdown {
        width: 50% !important;
        bottom: -140px;
        left: 40%;
    }

    .btn-search {
        font-size: 0.9rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .formBooking {
        top: -130px;
    }

    .formBooking-row {
        justify-content: space-between;
        gap: 20px 0;
    }

    .form-input {
        width: 49%;
        height: 50px;
        padding: 0;
    }

    .form-input>label,
    .form-input .form-input__options {
        font-size: 0.9rem;
        text-align: left;
        padding-left: 10px;
    }

    .form-input>label {
        padding: 0;
    }

    .form-input-dropdown {
        width: 50% !important;
        left: 40%;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .formBooking {
        top: -130px;
    }

    .formBooking-row {
        justify-content: space-between;
        gap: 20px 0;
    }

    .form-input {
        width: 49%;
        height: 50px;
        padding: 0;
    }

    .form-input>label,
    .form-input .form-input__options {
        font-size: 0.9rem;
        text-align: left;
        padding-left: 10px;
    }

    .form-input>label {
        padding: 0;
    }

    .form-input-dropdown {
        width: 50% !important;
        left: 40%;
    }

}