.about {
    padding: 10% 0 5% 0;
    background-color: #fff;
}

/* CSS: Container */
.about__container {
    width: 90%;
    margin: 0 auto;
}

.about__title {
    position: relative;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 2rem;
    color: rgb(151, 115, 68);
    margin: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about__title::after,
.about__title::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    border-radius: 5px;
    background-color: rgb(182, 155, 117);
}

.about__title::before {
    top: 15px;
    left: 0;
}

.about__title::after {
    top: 15px;
    right: 0;
}

.about__title>span {
    font-weight: 700;
}

/* CSS: Row */
.about__row {
    margin-top: 5%;
    justify-content: space-between;
}

/* CSS: Col */
.about__col img {
    width: 100%;
    height: 500px;
}

.about__col ul p {
    font-family: "Playfair Display", serif;
    color: #a9885a;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about__col ul li {
    list-style: square;
    font-family: "EB Garamond", serif;
    font-size: 1rem;
    color: rgb(67, 66, 66);
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.about__col ul li::marker {
    color: #a9885a;
}

/* CSS: Infomaition */
.about__information {
    position: relative;
    font-family: "Lora", serif;
    color: #a9885a;
    padding: 0 20px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 5% 0;
}


.about__information::after,
.about__information::before {
    content: "";
    position: absolute;
    width: 36%;
    height: 1px;
    border-radius: 5px;
    background-color: rgb(182, 155, 117);
}

.about__information::before {
    top: 15px;
    left: 0;
}

.about__information::after {
    top: 15px;
    right: 0;
}

/* CSS: Information Row */
.information__row {
    justify-content: space-between;
}

/* CSS: Information Col */
.information__col h3 {
    font-family: "Playfair Display", serif;
    color: #a9885a;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 30px;
}

.information__col li {
    font-family: "EB Garamond", serif;
    color: rgb(67, 66, 66);
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 30px;
}

.information__col:nth-child(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information__col:nth-child(2) .information__card {
    width: 33%;
}

/* Effect CSS */
.information__col h3:hover {
    transition: 0.3s all ease;
    color: #ea9b2c;
}

/* Responsive */
@media screen and (max-width:575px) {
    .about {
        margin-top: 200px;
        padding-bottom: 0;
    }

    .about__title {
        font-size: 1.3rem;
    }

    .about__title::after,
    .about__title::before {
        display: none;
    }

    .about__col:nth-child(1) img {
        height: 300px;
    }

    .about__col:nth-child(2) {
        margin-top: 5%;
    }

    .about__col:nth-child(2) ul p {
        margin-bottom: 1%;
        font-size: 1rem;
    }

    .about__col:nth-child(2) ul li {
        margin-bottom: 1%;
        font-size: 0.9rem;
        line-height: 35px;
    }

    .about__information {
        font-size: 1.3rem;
    }

    .about__information::after,
    .about__information::before {
        display: none;
    }

    .information__row {
        margin-top: 10%;
    }

    .information__col h3,
    .information__col:nth-child(2) .information__card {
        font-size: 1.1rem;
    }

    .information__col li {
        font-size: 0.9rem;
    }

    .information__col:nth-child(2) {
        justify-content: space-between;
    }

    .information__col:nth-child(2) .information__card {
        width: 45%;
    }

    .information__col:nth-child(2) .information__card li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .about {
        margin-top: 200px;
        padding-bottom: 0;
    }

    .about__title {
        font-size: 1.4rem;
    }

    .about__title::after,
    .about__title::before {
        display: none;
    }

    .about__col:nth-child(1) img {
        height: 400px;
    }

    .about__col:nth-child(2) {
        margin-top: 5%;
    }

    .about__col:nth-child(2) ul p {
        margin-bottom: 1%;
        font-size: 1.1rem;
    }

    .about__col:nth-child(2) ul li {
        margin-bottom: 1%;
        font-size: 1rem;
        line-height: 35px;
    }

    .about__information {
        font-size: 1.3rem;
    }

    .about__information::after,
    .about__information::before {
        display: none;
    }

    .information__row {
        margin-top: 5%;
    }

    .information__col h3,
    .information__col:nth-child(2) .information__card {
        font-size: 1.1rem;
    }

    .information__col li {
        font-size: 1rem;
    }

    .information__col:nth-child(2) {
        justify-content: space-between;
    }

    .information__col:nth-child(2) .information__card {
        width: 45%;
    }

    .information__col:nth-child(2) .information__card li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .about {
        margin-top: 200px;
        padding-bottom: 0;
    }

    .about__title {
        font-size: 1.4rem;
    }

    .about__title::after,
    .about__title::before {
        display: none;
    }

    .about__col:nth-child(1) img {
        height: 350px;
    }

    .about__col:nth-child(2) {
        text-align: left;
        margin-top: 5%;
    }

    .about__col:nth-child(2) ul p {
        margin-bottom: 1%;
        font-size: 1.1rem;
    }

    .about__col:nth-child(2) ul li {
        margin-bottom: 1%;
        font-size: 1rem;
        line-height: 35px;
    }

    .about__information {
        font-size: 1.3rem;
    }

    .about__information::after,
    .about__information::before {
        display: none;
    }

    .information__row {
        margin-top: 10%;
    }

    .information__col h3,
    .information__col:nth-child(2) .information__card {
        font-size: 1.1rem;
    }

    .information__col li {
        font-size: 1rem;
    }

    .information__col:nth-child(2) {
        justify-content: space-between;
    }

    .information__col:nth-child(2) .information__card {
        width: 30%;
    }

    .information__col:nth-child(2) .information__card li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .about {
        margin-top: 200px;
        padding-bottom: 0;
    }

    .about__title {
        font-size: 1.5rem;
    }

    .about__title::after,
    .about__title::before {
        width: 26%;
    }

    .about__row {
        align-items: center;
    }

    .about__col:nth-child(2) ul p {
        margin-bottom: 1%;
        font-size: 1.1rem;
    }

    .about__col:nth-child(2) ul li {
        margin-bottom: 1%;
        font-size: 0.9rem;
        line-height: 35px;
    }

    .about__information {
        font-size: 1.4rem;
    }

    .about__information::after,
    .about__information::before {
        width: 35%;
    }

    .information__row {
        margin-top: 5%;
    }

    .information__col h3,
    .information__col:nth-child(2) .information__card {
        font-size: 1.1rem;
    }

    .information__col li {
        font-size: 1.1rem;
    }

    .information__col:nth-child(2) {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .information__col:nth-child(2) .information__card {
        width: 30%;
    }
}