.about {
    padding: 10% 0 5% 0;
    background-color: #fff;
}

/* CSS: Container */
.about__container {
    width: 90%;
    margin: 0 auto;
}

/* CSS: Row */
.about__row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}


/* CSS: Content Resort */
.about__resort {
    box-shadow: 2px 2px 4px 4px rgba(105, 99, 74, 0.6);
    padding: 50px;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.resort__card .card__name {
    font-family: "Bodoni Moda", serif;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 7%;
    line-height: 40px;
}

.card__description {
    margin: 20px 0;
}

.card__description .desc-title,
.card__information .info-title {
    position: relative;
    text-align: center;
    font-family: "Playfair Display", serif;
    color: rgb(182, 155, 117);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.desc-title::after,
.desc-title::before,
.info-title::after,
.info-title::before {
    content: "";
    position: absolute;
    width: 28%;
    height: 2px;
    border-radius: 5px;
    background-color: rgb(182, 155, 117);
}

.desc-title::before,
.info-title::before {
    top: 15px;
    left: 0;
}

.desc-title::after,
.info-title::after {
    top: 15px;
    right: 0;
}

.card__description .desc-content {
    font-family: "EB Garamond", serif;
    font-size: 1.1rem;
    line-height: 35px;
    margin: 5% 0;
}

.card__information {
    position: relative;
}

.card__information .info-title {
    margin-bottom: 5%;
}

.card__information>p {
    font-family: "EB Garamond", serif;
    color: rgba(53, 52, 52);
    font-weight: 700;
    font-size: 1.1rem;
    margin: 15px 0;
}

.card__information>p>span {
    font-weight: lighter;
    margin-left: 10px;
}

.btn-view {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 155, 117);
    color: white;
    font-size: 1rem;
    border: 2px solid transparent;
    padding: 10px 30px;
    border-radius: 3px;
    transition: 0.3s all ease;
}

/* CSS: Image Resort */
.about__col .image-active {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.image__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image__list>div {
    cursor: pointer;
    width: 150px;
    height: 120px;
    overflow: hidden;
    transition: 0.3s all ease;
}

.image__item {
    width: 100%;
    height: inherit;
    transition: 0.3s all ease;
    object-fit: cover;
}

.room__list {
    margin-top: 5%;
}

/* Effect CSS */
.image__item:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.btn-view:hover {
    border: 2px solid rgb(182, 155, 117);
    background-color: white;
    color: rgb(182, 155, 117);
    border-radius: 0;
}

/* Responsive */
@media screen and (max-width:575px) {
    .about {
        margin-top: 50%;
    }

    .about__col:nth-child(1) {
        order: 2;
    }

    .about__col:nth-child(2) {
        order: 1;
    }

    /* CSS: Image Resort */
    .about__col:nth-child(2) .image-active {
        height: 300px;
    }

    .about__col:nth-child(2) .image__list {
        gap: 20px 0;
        justify-content: space-around;
    }

    .about__col:nth-child(2) .image__list>div {
        width: 20%;
        height: 80px;
    }

    /* CSS: Content Resort */

    .about__col:nth-child(1) {
        margin-top: 10%;
    }

    .about__resort {
        border-radius: 0;
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(105, 99, 74, 0.6);
    }

    .about__resort .card__name {
        font-size: 1.4rem;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description .desc-title,
    .card__information .info-title {
        font-size: 1.2rem;
    }

    .card__description .desc-title::after,
    .card__description .desc-title::before,
    .card__information .info-title::after,
    .card__information .info-title::before {
        display: none;
    }

    .card__description .desc-content {
        font-size: 1rem;
    }

    .card__information .info-title {
        margin-bottom: 20px;
    }

    .card__information>p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 5px 0;
    }

    .card__information>p>span {
        margin-left: 5px;
    }

    .btn-view {
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .about {
        margin-top: 30%;
    }

    .about__col:nth-child(1) {
        order: 2;
    }

    .about__col:nth-child(2) {
        order: 1;
    }

    /* CSS: Image Resort */
    .about__col:nth-child(2) .image-active {
        height: 400px;
    }

    .about__col:nth-child(2) .image__list {
        gap: 20px;
        justify-content: center;
    }


    .about__col:nth-child(2) .image__list>div {
        width: 80px;
        height: 80px;
    }

    /* CSS: Content Resort */

    .about__col:nth-child(1) {
        margin-top: 10%;
    }

    .about__resort {
        border-radius: 0;
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(105, 99, 74, 0.6);
    }

    .about__resort .card__name {
        font-size: 1.3rem;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description .desc-title,
    .card__information .info-title {
        font-size: 1.2rem;
    }

    .card__description .desc-title::after,
    .card__description .desc-title::before,
    .card__information .info-title::after,
    .card__information .info-title::before {
        display: none;
    }

    .card__description .desc-content {
        font-size: 1rem;
    }

    .card__information .info-title {
        margin-bottom: 20px;
    }

    .card__information>p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 5px 0;
    }

    .card__information>p>span {
        margin-left: 5px;
    }

    .btn-view {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .about {
        margin-top: 30%;
    }

    .about__col:nth-child(1) {
        order: 2;
    }

    .about__col:nth-child(2) {
        order: 1;
    }

    /* CSS: Image Resort */
    .about__col:nth-child(2) .image-active {
        height: 400px;
    }

    .about__col:nth-child(2) .image__list {
        gap: 10px;
        justify-content: center;
    }


    .about__col:nth-child(2) .image__list>div {
        width: 80px;
        height: 80px;
    }

    /* CSS: Content Resort */

    .about__resort {
        border-radius: 0;
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(105, 99, 74, 0.6);
    }

    .about__resort .card__name {
        font-size: 1.2rem;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description .desc-title,
    .card__information .info-title {
        font-size: 1.2rem;
    }

    .card__description .desc-title::after,
    .card__description .desc-title::before,
    .card__information .info-title::after,
    .card__information .info-title::before {
        display: none;
    }

    .card__description .desc-content {
        font-size: 1rem;
    }

    .card__information .info-title {
        margin-bottom: 20px;
    }

    .card__information>p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 5px 0;
    }

    .card__information>p>span {
        margin-left: 5px;
    }

    .btn-view {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .about {
        margin-top: 30%;
    }

    .about__col:nth-child(1) {
        order: 2;
    }

    .about__col:nth-child(2) {
        order: 1;
    }

    /* CSS: Image Resort */
    .about__col:nth-child(2) .image-active {
        height: 400px;
    }

    .about__col:nth-child(2) .image__list {
        gap: 10px;
        justify-content: center;
    }


    .about__col:nth-child(2) .image__list>div {
        width: 80px;
        height: 80px;
    }

    /* CSS: Content Resort */

    .about__resort {
        border-radius: 0;
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(105, 99, 74, 0.6);
    }

    .about__resort .card__name {
        font-size: 1.2rem;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
    }

    .card__description .desc-title,
    .card__information .info-title {
        font-size: 1.2rem;
    }

    .card__description .desc-title::after,
    .card__description .desc-title::before,
    .card__information .info-title::after,
    .card__information .info-title::before {
        display: none;
    }

    .card__description .desc-content {
        font-size: 1rem;
    }

    .card__information .info-title {
        margin-bottom: 20px;
    }

    .card__information>p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 5px 0;
    }

    .card__information>p>span {
        margin-left: 5px;
    }

    .btn-view {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}