.rooms {
    padding-bottom: 5%;
}

/* CSS: Container */
.rooms__container {
    width: 90%;
    margin: 0 auto;
}

.rooms__title {
    position: relative;
    font-family: "Lora", serif;
    color: #403b34;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 5%;
}


.rooms__title::after,
.rooms__title::before {
    content: "";
    position: absolute;
    width: 38%;
    height: 1px;
    border-radius: 5px;
    background-color: rgb(182, 155, 117);
}

.rooms__title::before {
    top: 15px;
    left: 0;
}

.rooms__title::after {
    top: 15px;
    right: 0;
}

/* CSS: Options */
.rooms__options {
    justify-content: space-between;
    align-items: center;
}

.rooms__options .col>div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.rooms__options .col .input-search {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    width: 80%;
    padding: 10px 30px 10px 10px;
    border: 2px solid rgb(182, 155, 117);
    letter-spacing: 1px;
}

.rooms__options .col .iconSearch {
    cursor: pointer;
    font-size: 18px;
    border: 1px solid rgb(182, 155, 117);
    background-color: rgb(182, 155, 117);
    padding: 10px 20px;
    color: white;
}

.rooms__options .col .iconRefresh {
    cursor: pointer;
    font-size: 18px;
    border: 1px solid rgb(182, 155, 117);
    padding: 10px 20px;
    color: rgb(182, 155, 117);
    transition: 0.3s all ease;
}

.rooms__options .col .input-search::placeholder {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

/* CSS: List */
.rooms__list {
    margin-top: 5%;
    justify-content: space-between;
    text-align: center;
}


/* CSS: Item */
.rooms .rooms__item {
    position: relative;
}

.rooms__item .rooms__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.rooms__item:nth-child(1) .rooms__price {
    background-color: white;
    padding: 15px 20px;
    color: #9f7a4a;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    border-radius: 3px;
}

.rooms__item:nth-child(2) {
    align-self: center;
    padding: 50px 60px;
}

.rooms__item:nth-child(2) .rooms__item-breakcrum {
    color: gray;
    font-style: italic;
    font-family: "Lora", serif;
    margin-bottom: 5%;
}

.rooms__item:nth-child(2) .rooms__item-name {
    font-family: "Lora", serif;
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: #403b34;
}

.rooms__item:nth-child(2) .rooms__item-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

.rooms__item:nth-child(2) .rooms__item-card .note-flex {
    display: flex;
    gap: 0 5px;
    align-items: center;
}

.rooms__item:nth-child(2) .rooms__item-card .note-flex>p {
    font-family: "Roboto", sans-serif;
    color: #927646;
    font-size: 16px;
}

.rooms__item:nth-child(2) .rooms__item-card .note-flex>.icon {
    margin-right: 10px;
    font-size: 18px;
    color: #927646;
}

.rooms__item:nth-child(2) .rooms__item-desc {
    font-family: "Roboto", sans-serif;
    color: #403b34;
    line-height: 25px;
    font-size: 16px;
}

.rooms__item:nth-child(2) .rooms__btn-link {
    cursor: pointer;
    background-color: transparent;
    margin-top: 3%;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-family: "Playfair Display", serif;
    color: #302a22;
    letter-spacing: 1px;
    font-size: 14px;
}

.rooms__item:nth-child(2) .rooms__btn-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #c3ac8c;
    transition: 0.5s all ease;
}

.rooms__item:nth-child(2) .rooms__btn-link::before {
    content: '\203A';
    position: absolute;
    right: -15px;
    top: 0px;
    color: #AB916C;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.5s all ease;
}

/* CSS: Item Footer */
.rooms__footer {
    margin-top: 50px;
}

.footer__title {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1px;
    color: rgba(48, 42, 34, 0.8);
    font-weight: 700;
}

.footer__title>span {
    margin: 0 5px;
}

/* CSS: Pagination */
.rooms__pagination {
    width: 100%;
    margin-top: 4%;
    text-align: center;
}

/* CSS: Active */
.rooms__list:nth-child(2n + 2) .rooms__item:nth-child(2) {
    order: 1;
}

.rooms__list:nth-child(2n + 2) .rooms__item:nth-child(1) {
    order: 2;
}

/* Effect CSS */

.rooms__options .col:nth-child(1) .input-search:focus {
    outline: 0;
}

.rooms__item:nth-child(2) .rooms__btn-link:hover::after {
    width: 0;
}

.rooms__item:nth-child(2) .rooms__btn-link:hover::before {
    right: -20px;
}

.rooms__options .col:nth-child(1) .iconRefresh:hover {
    background-color: rgb(182, 155, 117);
    color: white;
    border-left: 1px solid white;
}

/* Responsive */
@media screen and (max-width:575px) {
    .rooms__title {
        font-size: 1.3rem;
    }

    .rooms__title::after,
    .rooms__title::before {
        display: none;
    }

    .rooms__list {
        gap: 30px 0;
        padding-bottom: 20px;
        border-radius: 5px;
        margin: 4rem 0;
    }

    .rooms__list:nth-child(2n + 2) .rooms__item:nth-child(2) {
        order: 1;
    }

    .rooms__list:nth-child(2n + 2) .rooms__item:nth-child(1) {
        order: 1;
    }

    .rooms__item:nth-child(1) .rooms__img {
        height: 350px;
    }

    .rooms__price {
        display: none;
    }

    .rooms__item:nth-child(2) {
        padding: 10px;
        text-align: center;
    }

    .rooms__item:nth-child(2) .rooms__item-breakcrum {
        margin-bottom: 2%;
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) .rooms__item-name {
        font-size: 1.6rem;
        margin: 20px 0;
    }

    .rooms__item:nth-child(2) .rooms__item-card {
        margin: 20px 0;
        gap: 15px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex {
        gap: 0 1px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>p {
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>.icon {
        font-size: 0.8rem;
        margin-right: 5px;
    }

    .rooms__item:nth-child(2) .rooms__item-desc {
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) .rooms__btn-link {
        font-size: 0.8rem;
    }

    .rooms__footer {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .rooms__title {
        font-size: 1.5rem;
    }

    .rooms__title::after,
    .rooms__title::before {
        display: none;
    }

    .rooms__list {
        gap: 30px 0;
        padding-bottom: 20px;
        border-radius: 5px;
        margin: 4rem 0;
    }

    .rooms__list:nth-child(2n + 2) .rooms__item:nth-child(2) {
        order: 1;
    }

    .rooms__list:nth-child(2n + 2) .rooms__item:nth-child(1) {
        order: 1;
    }

    .rooms__item:nth-child(1) .rooms__img {
        height: 380px;
    }

    .rooms__price {
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) {
        padding: 10px;
        text-align: center;
    }

    .rooms__item:nth-child(2) .rooms__item-breakcrum {
        margin-bottom: 2%;
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) .rooms__item-name {
        font-size: 1.8rem;
        margin: 20px 0;
    }

    .rooms__item:nth-child(2) .rooms__item-card {
        margin: 20px 0;
        gap: 20px;

    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex {
        gap: 0 5px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>p {
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>.icon {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    .rooms__item:nth-child(2) .rooms__item-desc {
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) .rooms__btn-link {
        font-size: 0.8rem;
    }

    .rooms__footer {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .rooms__title {
        font-size: 1.8rem;
    }

    .rooms__title::after,
    .rooms__title::before {
        display: none;
    }

    .rooms__list {
        gap: 30px 0;
        padding-bottom: 20px;
    }

    .rooms__item:nth-child(1) .rooms__img {
        height: 400px;
    }

    .rooms__price {
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) {
        padding: 0;
    }

    .rooms__item:nth-child(2) .rooms__item-breakcrum {
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) .rooms__item-name {
        font-size: 1.6rem;
    }

    .rooms__item:nth-child(2) .rooms__item-card {
        margin: 20px 0;
        gap: 10px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex {
        gap: 0 1px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>p {
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>.icon {
        font-size: 0.8rem;
        margin-right: 5px;
    }

    .rooms__item:nth-child(2) .rooms__item-desc {
        font-size: 0.8rem;
    }

    .rooms__item:nth-child(2) .rooms__btn-link {
        font-size: 0.8rem;
    }

    .rooms__footer {
        margin-top: 40px;
        text-align: center;
    }

    .footer__title {
        line-height: 1.5rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .rooms__title {
        font-size: 2rem;
    }

    .rooms__title::after,
    .rooms__title::before {
        display: none;
    }

    .rooms__list {
        gap: 30px 0;
        padding-bottom: 20px;
    }

    .rooms__item:nth-child(1) .rooms__img {
        height: 400px;
    }

    .rooms__price {
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) {
        padding: 0;
    }

    .rooms__item:nth-child(2) .rooms__item-breakcrum {
        font-size: 1rem;
    }

    .rooms__item:nth-child(2) .rooms__item-name {
        font-size: 2rem;
    }

    .rooms__item:nth-child(2) .rooms__item-card {
        margin: 20px 0;
        gap: 15px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex {
        gap: 0 1px;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>p {
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) .rooms__item-card .note-flex>.icon {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    .rooms__item:nth-child(2) .rooms__item-desc {
        font-size: 0.9rem;
    }

    .rooms__item:nth-child(2) .rooms__btn-link {
        font-size: 0.9rem;
    }

    .rooms__footer {
        margin-top: 40px;
        text-align: center;
    }

    .footer__title {
        line-height: 1.5rem;
    }
}