.itemCart__content-list {
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
    border-bottom: 1px solid rgb(190, 188, 188);
}

.itemCart__content-item>p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgb(48, 48, 48);
}

.itemCart__content-action>p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.itemCart__content-action>p .icon__close-action,
.itemCart__content-action>p .icon__modal-action {
    font-size: 1.3rem;
    cursor: pointer;
}


.itemCart__content-action>p .icon__delete-action {
    color: rgba(54, 53, 53, 0.9);
}


/* CSS: Item Card */
.item__card {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: left;
}

.item__card img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.card__content {
    font-family: "Roboto", sans-serif;
    width: 100%;
}

.card__content>h3 {
    color: rgb(57, 56, 56);
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
}

.card__content>p {
    color: rgb(57, 56, 56);
    font-weight: 800;
    font-size: 1rem;
}

.card__content>p>span {
    font-family: "Roboto", sans-serif;
    color: rgb(115, 114, 114);
    font-weight: normal;
    margin-left: 5px;
    font-size: 0.9rem;
}

.card__content .card__content-date {
    margin-bottom: 10px;
}

.itemCart__content-status>p {
    padding: 20px;
    background-color: rgba(29, 77, 106, 0.8);
    color: white;
    border-radius: 3px;
}

/* CSS: Item - Message */
.itemCart__message {
    width: 80%;
    text-align: center;
    margin: 5rem auto;
}

.itemCart__message h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(70, 70, 69);
}

.itemCart__link {
    font-family: "EB Garamond", serif;
    display: inline-block;
    background-color: rgb(185, 157, 117);
    color: white;
    padding: 15px 40px;
    margin-top: 3%;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 2px solid transparent
}

/* CSS: Icons */
.icon__delete-action {
    cursor: pointer;
}

/* CSS: Pagination */
.pagination__container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* Effect CSS */
.itemCart__link:hover {
    transition: 0.5s all ease;
    border-radius: 0;
    border-color: rgb(185, 157, 117);
    background-color: white;
    color: rgb(185, 157, 117)
}

/* Responsive */
@media screen and (max-width:575px) {
    .itemCart__message {
        box-shadow: 0 0 5px 5px rgba(227, 227, 226, 0.5);
        border-radius: 5px;
        padding: 20px;
    }

    .itemCart__message>h2 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .itemCart__link {
        font-size: 0.9rem;
        padding: 15px 30px;
    }

    /* CSS: Col Item */
    .itemCart__content-item:nth-child(2) .item__card>img {
        display: none;
    }

    .itemCart__content-list {
        display: grid;
        grid-template-columns: 80px 1fr 1fr;
        grid-template-rows: 1fr 50px;
        grid-gap: 5px 10px;
    }

    .itemCart__content-item:nth-child(1) {
        grid-row: 1/4;
    }

    .itemCart__content-item:nth-child(2) {
        grid-column: 2/4;
    }

    .itemCart__content-item:nth-child(3),
    .itemCart__content-item:nth-child(4) {
        position: relative;
        text-align: right;
    }

    .itemCart__content-item:nth-child(5) {
        grid-column: 2/4
    }

    .itemCart__content-item:nth-child(2) .card__content .card__content-name {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    .itemCart__content-item:nth-child(2) .card__content>p {
        margin: 10px 0;
    }

    .itemCart__content-item:nth-child(2) .card__content>p>span {
        margin-left: 10px;
    }

    .itemCart__content-item:nth-child(3)>p,
    .itemCart__content-item:nth-child(4)>p {
        text-align: left;
        padding-left: 3.5rem;
    }

    .itemCart__content-item:nth-child(2) .card__content>p,
    .itemCart__content-item:nth-child(3)>p,
    .itemCart__content-item:nth-child(4)>p,
    .itemCart__content-item:nth-child(5)>p {
        font-size: 0.9rem;
    }

    /* CSS: Active */
    .itemCart__content-item:nth-child(3)::after {
        font-family: "Roboto", sans-serif;
        content: 'Rooms:';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .itemCart__content-item:nth-child(4)::after {
        font-family: "Roboto", sans-serif;
        content: 'Price:';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.9rem;
        font-weight: bold;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .itemCart__message {
        box-shadow: 0 0 5px 5px rgba(227, 227, 226, 0.5);
        border-radius: 5px;
        padding: 20px;
    }

    .itemCart__message>h2 {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .itemCart__link {
        font-size: 1rem;
        padding: 15px 30px;
    }

    .itemCart__message {
        box-shadow: 0 0 5px 5px rgba(227, 227, 226, 0.5);
        border-radius: 5px;
        padding: 20px;
    }

    .itemCart__message>h2 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .itemCart__link {
        font-size: 0.9rem;
        padding: 15px 30px;
    }

    /* CSS: Col Item */
    .itemCart__content-item:nth-child(2) .item__card>img {
        display: none;
    }

    .itemCart__content-list {
        display: grid;
        grid-template-columns: 80px 250px 100px;
        grid-template-rows: 1fr 30px 30px;
        grid-gap: 3px 20px;
    }

    .itemCart__content-item:nth-child(3),
    .itemCart__content-item:nth-child(4) {
        position: relative;
        text-align: right;
    }

    .card__content {
        width: 250px;
        word-wrap: break-word;
        display: inline-block;
    }

    .itemCart__content-item:nth-child(2) .card__content .card__content-name {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .itemCart__content-item:nth-child(2) .card__content>p {
        margin: 10px 0;
    }

    .itemCart__content-item:nth-child(2) .card__content>p>span {
        margin-left: 10px;
    }

    .itemCart__content-item:nth-child(3)>p,
    .itemCart__content-item:nth-child(4)>p {
        text-align: left;
        padding-left: 3.5rem;
    }

    .itemCart__content-item:nth-child(4)>p {
        text-align: left;
        padding-left: 2.5rem;
    }

    .itemCart__content-item:nth-child(2) .card__content>p,
    .itemCart__content-item:nth-child(3)>p,
    .itemCart__content-item:nth-child(4)>p,
    .itemCart__content-item:nth-child(5)>p {
        font-size: 0.9rem;
    }

    /* CSS: Active */
    .itemCart__content-item:nth-child(1) {
        grid-row: 1/4;
        order: 1;
    }

    .itemCart__content-item:nth-child(2) {
        grid-column: 2/4;
        grid-row: 1/2;
        order: 2;
    }

    .itemCart__content-item:nth-child(3) {
        grid-column: 2/3;
        order: 3;
    }

    .itemCart__content-item:nth-child(4) {
        grid-row: 3/4;
        grid-column: 2/3;
        order: 5;
    }

    .itemCart__content-item:nth-child(5) {
        order: 4;
        grid-column: 3/4;
        grid-row: -4/-1;
    }



    .itemCart__content-item:nth-child(3)::after {
        font-family: "Roboto", sans-serif;
        content: 'Rooms:';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .itemCart__content-item:nth-child(4)::after {
        font-family: "Roboto", sans-serif;
        content: 'Price:';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.9rem;
        font-weight: bold;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .itemCart__message {
        box-shadow: 0 0 5px 5px rgba(227, 227, 226, 0.5);
        border-radius: 5px;
        padding: 20px;
    }

    .itemCart__message>h2 {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .itemCart__link {
        font-size: 1.1rem;
        padding: 15px 30px;
    }

    /* CSS: Col List */
    .itemCart__content-list {
        padding: 5% 0;
    }

    /* CSS: Col Item */
    .itemCart__content-item:nth-child(2) .item__card>img {
        display: none;
    }

    .card__content {
        width: 100%;
        word-wrap: break-word;
        display: inline-block;
    }

    .itemCart__content-item:nth-child(2) .card__content .card__content-name {
        font-size: 1.2rem;
    }

    .itemCart__content-item:nth-child(2) .card__content>p,
    .itemCart__content-item:nth-child(3)>p,
    .itemCart__content-item:nth-child(4)>p,
    .itemCart__content-item:nth-child(5)>p {
        font-size: 0.9rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .itemCart__message {
        box-shadow: 0 0 5px 5px rgba(227, 227, 226, 0.5);
        border-radius: 5px;
        padding: 20px;
    }

    .itemCart__message>h2 {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }

    .itemCart__link {
        font-size: 1.1rem;
        padding: 15px 30px;
    }

    /* CSS: Col Item */
    .card__content {
        width: 100%;
        word-wrap: break-word;
        display: inline-block;
    }

    .itemCart__content-item:nth-child(2) .card__content .card__content-name {
        font-size: 1.3rem;
    }
}