.footer {
    background-color: #222222;
    width: 100%;
}

/* CSS: Footer - Row */

.footer__row {
    text-align: center;
    color: white;
    flex-wrap: wrap;
}

/* CSS: Footer - Col */

.footer__col {
    height: inherit;
    border: 1px solid rgba(143, 143, 143, 0.2);
}


/* CSS: Footer - Card */

.card {
    padding: 40px 35px;
    letter-spacing: 1px;
}


.card-title {
    color: rgb(239, 184, 108);
    display: inline-block;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    font-size: 12px;
}

.footer .card-content {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.footer .card-socials {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer .card-socials .icon {
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}

/* CSS: Footer - Content */
.footer .content-wrapper {
    text-align: center;
    color: white;
    padding: 50px;
}

.footer .content-wrapper span {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin: 0 25px;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.3s all ease;
}

/* Effect CSS */
.footer .card-socials .icon:hover,
.footer .content-wrapper span:hover {
    color: rgb(239, 184, 108);
}

/* Responsive */
@media screen and (max-width:575px) {
    .footer .content-wrapper {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .footer .content-wrapper {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .footer .content-wrapper {
        padding: 50px 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .footer .content-wrapper {
        padding: 50px 20px;
    }
}