.navbar-nav {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    color: white;
    border-bottom: 1px solid rgba(232, 229, 229, 0.5);
    padding: 30px 0;
    z-index: 3;
    background: linear-gradient(45deg, rgba(24, 24, 24, 0.3), rgba(162, 160, 160, 0.1));
}

/* CSS: Row */

.navbar__row {
    height: inherit;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

/* CSS: Col - Menu */

.menu__list {
    height: inherit;
    display: flex;
    align-items: center;
}

.menu__item {
    font-family: "Playfair Display", serif;
    cursor: pointer;
    display: inline-block;
    margin-right: 10%;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 0;
}

.navbar .menu__item a {
    color: white;
}

.icon-menu {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.912);
}

.navbar .menu__item .icon-dropdown {
    position: absolute;
    right: -20px;
    font-size: 16px;
}

.navbar .menu-dropdown {
    position: absolute;
    left: -50px;
    background-color: rgba(43, 42, 42);
    width: 250px;
    padding: 15px 30px;
    border-radius: 3px;
    display: none;
}

.navbar .contact__item .menu-dropdown {
    text-align: left;
    left: 80px;
    width: 60px;
}

.navbar .menu-dropdown .menu-dropdown__item {
    display: block;
    margin: 20px 0;
    line-height: 25px;
}

/* CSS: Col - Logo */

.logo-container {
    text-align: center;
    position: relative;
}

.logo__title {
    font-family: "Lora", serif;
    letter-spacing: 10px;
    font-size: 2rem;

}

.logo__rating {
    display: inline-block;
    color: #f3ab48ed;
    position: absolute;
    left: 27%;
    bottom: -60%;
}

.icon-star {
    margin: 0 3px;
}

/* CSS: Col - Contact */

.contact-container {
    text-align: right;
}

.contact__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact__item {
    font-family: "Playfair Display", serif;
    display: inline-block;
    cursor: pointer;
    margin: 0 5%;
    color: white;
}

.contact__item:nth-child(3) {
    border: 1px solid white;
    padding: 15px 25px;
    letter-spacing: 1px;
    border-radius: 3px;
}


/* CSS: Icon */
.contact__item:nth-child(4) {
    display: none;
}


/* CSS: Active */
.navbar-nav-scroll {
    transition: 1s all ease;
    background-color: #66c8c9;
}


@keyframes showMenuDropdown {
    0% {
        opacity: 0.5;
        top: 60px;
    }

    100% {
        opacity: 1;
        top: 30px;
    }
}

/* Effect CSS */

.menu__item:hover,
.menu__item .icon-menu:hover {
    transition: 0.5s all ease;
    color: rgb(252, 142, 87);
}

.contact__item:nth-child(3):hover {
    transition: 0.5s all ease;
    background-color: rgb(248, 115, 48);
    border: 1px solid transparent;
}

.menu__item:nth-child(3):hover .menu-dropdown,
.menu__item:nth-child(4):hover .menu-dropdown {
    animation: showMenuDropdown 0.5s 1 forwards;
    transition: 0.7s all ease;
    color: white;
    display: block;
}

.menu-dropdown__item:hover {
    transition: 0.3s all ease;
    color: rgb(248, 115, 48);
}

.navbar-nav-scroll .menu__item:hover,
.navbar-nav-scroll .menu__item .icon-menu:hover {
    color: rgb(82, 81, 81);
    transition: 0.3s all ease;
}

.navbar-nav-scroll .contact__item:nth-child(3):hover {
    transition: 0.5s all ease;
    background-color: rgb(82, 81, 81);
    border: 1px solid transparent;
}

/* Responsive */
@media screen and (max-width:575px) {
    .navbar__row {
        padding: 0 10px;
    }

    .menu__item:not(:first-child),
    .menu__item a,
    .contact__item:not(:nth-child(4)) {
        display: none;
    }

    .icon-menu {
        font-size: 1.7rem;
    }

    .logo__title {
        font-size: 1.3rem;
        letter-spacing: 8px;
    }

    .logo__rating {
        position: relative;
        left: 0%;
    }

    .contact__list {
        justify-content: flex-end;
    }

    .contact__item:nth-child(4) {
        display: block;
        color: rgba(255, 255, 255, 0.912);
        font-size: 1.5rem;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    .navbar__row {
        padding: 0 20px;
    }

    .menu__item:not(:first-child),
    .menu__item a,
    .contact__item:not(:nth-child(4)) {
        display: none;
    }

    .logo__title {
        font-size: 1.5rem;
        letter-spacing: 8px;
    }

    .logo__rating {
        position: relative;
        left: 0%;
    }

    .contact__list {
        justify-content: flex-end;
    }

    .contact__item:nth-child(4) {
        display: block;
        color: rgba(255, 255, 255, 0.912);
        font-size: 1.5rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .menu__item:not(:first-child),
    .menu__item a,
    .contact__item:not(:nth-child(4)):not(:nth-child(3)) {
        display: none;
    }

    .contact__list {
        justify-content: flex-end;
    }

    .contact__item:nth-child(4) {
        order: 3;
        display: block;
    }

    .contact__item:nth-child(3) {
        order: 4;
        padding: 15px 20px;
    }

    .logo__rating {
        position: relative;
        left: 0%;
    }

    .icon-user {
        display: block;
        color: rgba(255, 255, 255, 0.912);
        font-size: 1.5rem;
    }
}

@media screen and (min-width:992px) and (max-width:1190px) {

    .menu__item:not(:first-child),
    .menu__item a,
    .contact__item:not(:nth-child(4)):not(:nth-child(3)) {
        display: none;
    }

    .contact__list {
        justify-content: flex-end;
    }

    .contact__item:nth-child(4) {
        order: 3;
        display: block;
    }

    .contact__item:nth-child(3) {
        order: 4;
    }

    .logo__rating {
        position: relative;
        left: 0%;
    }

    .icon-user {
        display: block;
        color: rgba(255, 255, 255, 0.912);
        font-size: 1.5rem;
    }
}