/* CSS: Transactions Row - Title */
.transactions__row-title {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-wrap: wrap;
    background-color: rgba(28, 76, 115, 0.8);
}

/* CSS: Transactions Col - Title */
.transactions__col-title {
    padding: 20px 0;
    text-align: center;
}

/* CSS: Transactions Content - Title*/
.transactions__col-title>p {
    font: 700 1rem/1rem Bodoni Moda, serif;
    color: #fff;
    letter-spacing: 1px;
}

/* CSS: Transactions Row - Content */
.transactions__row-content {
    flex-wrap: wrap;
    background-color: #fff;
    transition: 0.3s all ease;
}

.transactions__row-content:nth-child(2n + 1) {
    background-color: rgba(245, 242, 240, 0.8);
}

.transactions__row-content:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* CSS: Transactions Col - Content */
.transactions__col-content {
    padding: 20px 0;
    text-align: center;
}

/* CSS: Transactions Content - Content */
.transactions__col-content>p {
    word-wrap: break-word;
    font: 0.9rem/1rem Roboto, serif;
    color: rgb(128, 128, 128)
}

.transactions__row-content:nth-child(2n + 1) .transactions__col-content>p {
    color: rgb(128, 128, 128)
}

/* CSS: Icon */
.icon-show {
    cursor: pointer;
    color: rgba(28, 76, 115, 0.8);
}

/* CSS: Active */
.title-active-mobile {
    display: none;
}

/* CSS: Effect */
.transactions__row-content:hover {
    background-color: rgba(245, 242, 240, 0.8);
}

/* CSS: Responsives */
@media screen and (max-width:575px) {

    /* CSS: Transactions Row - Title*/
    .transactions__row-title {
        display: none;
    }

    /* CSS: Transactions Row - Content*/
    .transactions__row-content {
        border-bottom: 2px solid rgba(28, 76, 115, 0.8);
        margin-bottom: 20px;
    }

    .transactions__row-content:last-child {
        border-radius: 0;
        border: 0;
    }

    .transactions__row-content:nth-child(2n + 1) {
        background-color: #fff;
    }

    .transactions__col-content {
        text-align: left;
    }

    /* CSS: Transactions Col - Content*/
    .title-active-mobile {
        display: block;
        width: 40%;
        color: rgba(28, 76, 115, 0.8);
        font-weight: 700;
    }

    .transactions__col-content {
        padding: 15px 0;
        display: flex;
    }

    /* CSS: Transactions Content - Content*/
    .transactions__col-content>p {
        width: 50%;
    }

    .transactions__col-content:nth-child(5)>p::after {
        content: '(Show detail)';
        position: absolute;
        margin-left: 10px;
        font: 0.8rem/1rem Roboto, sans-serif;
    }

    /* CSS: Effect */
    .transactions__row-content:hover {
        background-color: #fff;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    /* CSS: Transactions Row - Title*/
    .transactions__row-title {
        display: none;
    }

    /* CSS: Transactions Row - Content*/
    .transactions__row-content {
        padding: 20px;
        border-bottom: 2px solid rgba(28, 76, 115, 0.8);
        margin-bottom: 20px;
    }

    .transactions__row-content:last-child {
        border-radius: 0;
        border: 0;
    }

    .transactions__row-content:nth-child(2n + 1) {
        background-color: #fff;
    }

    .transactions__col-content {
        text-align: left;
    }

    /* CSS: Transactions Col - Content*/
    .title-active-mobile {
        display: block;
        width: 40%;
        color: rgba(28, 76, 115, 0.8);
        font-weight: 700;
        font-size: 1rem;
    }

    .transactions__col-content {
        padding: 15px 0;
        display: flex;
    }

    /* CSS: Transactions Content - Content*/
    .transactions__col-content>p {
        width: 50%;
    }

    .transactions__col-content:nth-child(5)>p::after {
        content: '(Show detail)';
        position: absolute;
        margin-left: 10px;
        font: 0.9rem/1rem Roboto, sans-serif;
    }

    /* CSS: Effect */
    .transactions__row-content:hover {
        background-color: #fff;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    /* CSS: Transactions Row - Title*/
    .transactions__row-title {
        display: none;
    }

    /* CSS: Transactions Row - Content*/
    .transactions__row-content {
        border-bottom: 2px solid rgba(28, 76, 115, 0.8);
        margin-bottom: 20px;
    }

    .transactions__row-content:last-child {
        border-radius: 0;
        border: 0;
    }

    .transactions__row-content:nth-child(2n + 1) {
        background-color: #fff;
    }

    .transactions__col-content {
        text-align: left;
    }

    /* CSS: Transactions Col - Content*/
    .title-active-mobile {
        display: block;
        width: 40%;
        color: rgba(28, 76, 115, 0.8);
        font-weight: 700;
    }

    .transactions__col-content {
        padding: 10px 0;
        display: flex;
    }

    /* CSS: Transactions Content - Content*/
    .transactions__col-content>p {
        width: 50%;
    }

    .transactions__col-content:nth-child(5)>p::after {
        content: '(Show detail)';
        position: absolute;
        margin-left: 10px;
        font: 0.8rem/1rem Roboto, sans-serif;
    }

    /* CSS: Effect */
    .transactions__row-content:hover {
        background-color: #fff;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {}