.room {
    margin-bottom: 5%;
}

/* CSS: Container */
.room__container {
    width: 90%;
    margin: auto;
    padding: 50px 0 100px 0;
}

/* CSS: Row */
.room__row {
    justify-content: space-between;
}

.room__header>p {
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgb(83, 98, 78);
    margin-bottom: 2%;
    font-weight: 600;
}

.room__col:nth-child(1)>h1 {
    font-family: "Bodoni Moda", serif;
    letter-spacing: 1px;
    font-size: 3rem;
    color: rgb(71, 70, 70);
}

.room__col:nth-child(2)>a {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    background-color: #AB916C;
    color: white;
    width: 250px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border: 2px solid transparent;
}

.room__header .room__col:nth-child(2) {
    text-align: right;
}

/* CSS: room Flex */
.room__flex {
    margin-top: 5%;
}


/* CSS: room flex row */
.room__row {
    justify-content: space-between;
}

/* CSS: room flex col */
.room__flex .room__col {
    position: relative;
    width: 31%;
}

.room__img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.room__card {
    position: relative;
    padding: 20px 0;
    color: #333632;
}

.room__card-name {
    cursor: pointer;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.room__card-notes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.room__card-notes .note-flex {
    display: flex;
    gap: 0 5px;
    align-items: center;
}

.room__card-notes .note-flex>p {
    font-family: "Roboto", sans-serif;
    position: relative;
    top: 3px;
    color: #927646;
    font-size: 0.8rem;
}

.room__card-notes .note-flex>.icon {
    color: #927646;
    position: relative;
    top: 2px;
    margin-right: 7px;
    font-size: 1rem;
}

.room__card-desc {
    font-family: "Roboto", sans-serif;
    margin: 20px 0;
    line-height: 25px;
    font-size: 16px;
}

/* CSS: room footer */
.room__footer {
    position: absolute;
    bottom: 0;
}

.room__link {
    cursor: pointer;
    border: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-family: "Playfair Display", serif;
    color: #302a22;
    letter-spacing: 1px;
}

.room__link::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #c3ac8c;
}


.room__link::before {
    content: '\203A';
    position: absolute;
    right: -15px;
    top: 0px;
    color: #AB916C;
    font-size: 20px;
    font-weight: bold;
}

/* Effect CSS */
.room__card-name:hover {
    transition: 0.3s all ease;
    opacity: 0.7;
}

.room__img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.room__col>a:hover {
    background-color: #fff;
    color: #AB916C;
    border: 2px solid #AB916C;
    border-radius: 5px;
    transition: 0.3s all ease;
}

.room__link:hover::after {
    transition: 0.5s all ease;
    width: 0;
}

.room__link:hover::before {
    transition: 0.5s all ease;
    right: -20px;
}

/* Responsive */
@media screen and (max-width:575px) {
    .room__row {
        gap: 20px 0;
        margin-bottom: 2rem;
    }

    .room__col:nth-child(1)>h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .room__col:nth-child(2)>a {
        margin: 0 auto;
        width: 200px;
        font-size: 1rem;
        display: block;
    }

    .room__flex .room__col {
        position: relative;
        width: 100%;
        margin: 30px 0;
    }

    .room__img {
        width: 100%;
        height: 250px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .room__card-name {
        font-size: 1.3rem;
    }

    .room__card-notes .note-flex {
        gap: 0 1px;
    }

    .room__card-notes .note-flex>p {
        font-size: 0.8rem;
    }

    .room__card-notes .note-flex>.icon {
        color: #927646;
        position: relative;
        top: 2px;
        margin-right: 7px;
        font-size: 0.8rem;
    }

    .room__card-desc {
        font-size: 0.9rem;
    }

    .room__footer {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .room__row {
        gap: 20px 0;
        margin-bottom: 2rem;
    }

    .room__col:nth-child(1)>h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .room__col:nth-child(2)>a {
        margin: 0 auto;
        width: 200px;
        font-size: 1rem;
        display: block;
    }

    .room__flex .room__col {
        position: relative;
        width: 100%;
        margin: 30px 0;
    }

    .room__img {
        width: 100%;
        height: 350px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .room__card-name {
        font-size: 1.4rem;
    }

    .room__card-notes .note-flex {
        gap: 0 1px;
    }

    .room__card-notes .note-flex>p {
        font-size: 0.9rem;
    }

    .room__card-notes .note-flex>.icon {
        color: #927646;
        position: relative;
        top: 2px;
        margin-right: 7px;
        font-size: 1rem;
    }

    .room__card-desc {
        font-size: 0.9rem;
    }

    .room__footer {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .room__row {
        gap: 20px 0;
        margin-bottom: 2rem;
    }

    .room__col:nth-child(1)>h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .room__col:nth-child(2)>a {
        margin: 0 auto;
        width: 200px;
        font-size: 1rem;
        display: block;
    }

    .room__flex .room__col {
        position: relative;
        width: 49%;
        margin: 30px 0;
    }

    .room__img {
        width: 100%;
        height: 350px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .room__card-name {
        font-size: 1.2rem;
    }

    .room__card-notes .note-flex {
        gap: 0 1px;
    }

    .room__card-notes .note-flex>p {
        font-size: 0.8rem;
    }

    .room__card-notes .note-flex>.icon {
        color: #927646;
        position: relative;
        top: 2px;
        margin-right: 7px;
        font-size: 0.8rem;
    }

    .room__card-desc {
        font-size: 0.9rem;
    }

    .room__footer {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .room__row {
        gap: 20px 0;
        margin-bottom: 2rem;
    }

    .room__col:nth-child(1)>h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .room__col:nth-child(2)>a {
        margin: 0 auto;
        width: 200px;
        font-size: 1rem;
        display: block;
    }

    .room__flex .room__col {
        position: relative;
        width: 49%;
        margin: 30px 0;
    }

    .room__img {
        width: 100%;
        height: 350px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .room__card-name {
        font-size: 1.2rem;
    }

    .room__card-notes .note-flex {
        gap: 0 1px;
    }

    .room__card-notes .note-flex>p {
        font-size: 0.9rem;
    }

    .room__card-notes .note-flex>.icon {
        color: #927646;
        position: relative;
        top: 2px;
        margin-right: 7px;
        font-size: 0.9rem;
    }

    .room__card-desc {
        font-size: 0.9rem;
    }

    .room__footer {
        width: 100%;
        text-align: center;
    }
}