.list {
    padding: 5% 0 5% 0;
    background-color: #fff;
}

/* CSS: Container */
.list__container {
    width: 90%;
    margin: 0 auto;

}

/* CSS: Transaction Row - Title */
.transaction__row-title {
    background-color: rgb(185, 157, 117);
    text-align: center;
    align-items: center;
}

/* CSS: Transaction Col - Title */
.transaction__col-title {
    padding: 25px 0;
    border: 2px solid #fff;

}

.transaction__col-title>p {
    word-wrap: break-word;
    font: 600 1rem/1rem Playfair Display, serif;
    color: #fff;
    letter-spacing: 1px;
}

/* CSS: Transaction Container - Carts */
.transaction__container-carts {
    margin-top: 10px;
}

/* CSS: Transaction Row - Carts  */
.transaction__row-carts {
    text-align: center;
    align-items: center;
    margin: 20px 0;
}

.transaction__row-carts:first-child {
    margin: 0;
}

.transaction__row-carts:nth-child(2n+1) {
    background-color: #F2F2F2;
}

/* CSS: Transaction Row - Col  */
.transaction__col-carts {}


/* CSS: Active */
.transaction__col-carts .actions .action__icon-close {
    color: red;
}

.transaction__col-carts .actions .action__icon-show {
    color: rgb(106, 141, 237);
}

.carts__item:last-child {
    border: 0;
}

.carts__item:first-child {
    margin: 0;
}