/* CSS: Main Form Login */

.form-login {
    position: relative;
    height: 100vh;
}

.form-background {
    position: absolute;
    width: 100%;
    height: inherit;
    object-fit: cover;
    filter: brightness(50%);
}

/* CSS: Row */

.form__row {
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* CSS: Col (1) */

.form__col:nth-child(1) .card__introduce-container {
    width: 80%;
    color: white;
    letter-spacing: 1px;
    padding: 20px;
    margin: 0 auto;
}

.card__introduce-container .card__title {
    font-family: "Lora", serif;
    font-size: 2.5rem;
    margin-bottom: 5%;
}

.card__introduce-container .card__content {
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.card__introduce-container .card__content span {
    font-weight: 700;
}

.card__introduce-container a {
    display: inline-block;
    margin-top: 5%;
    font-family: "EB Garamond", serif;
    letter-spacing: 1px;
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 3px;
    color: white;
}

/* CSS: Col (2) */

.form-main {
    text-align: center;
    width: 350px;
    padding: 50px 30px;
    background: linear-gradient(45deg, rgba(169, 168, 168, 0.2), rgba(60, 60, 60, 0.2));
}

.form-main .form-title {
    font-family: "Bodoni Moda", serif;
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 10%;
}

/* CSS: Form Input */

.form-main .form-input {
    position: relative;
}

.form-main .form-input>input {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin: 3% 0;
    padding: 15px 40px 15px 40px;
    background: transparent;
    color: white;
    border: 2px solid white;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 3px;
}

.form-main .error-message {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    color: white;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 13px;
}

.form-main .error-message>span {
    position: relative;
    top: -1px;
}

.form-footer {
    font-family: "Bodoni Moda", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.form-main .input-checkbox {
    display: flex;
    align-items: center;
}

.form-main .input-checkbox>input {
    width: 15px;
    height: 15px;
}


.form-main .input-checkbox label {
    cursor: pointer;
    margin-left: 5px;
}

.form-footer a {
    color: white;
}

.btn-login {
    cursor: pointer;
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    width: 100%;
    background: transparent;
    padding: 15px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 5%;
}

/* CSS: Form SignUp Footer */

.form-title-signUp {
    position: relative;
    margin: 15% 0 20px 0;
    font-family: "Bodoni Moda", serif;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.form-title-signUp::after,
.form-title-signUp::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: white;
}

.form-title-signUp::after {
    top: 10px;
    left: 10px;
}

.form-title-signUp::before {
    top: 10px;
    right: 10px;
}

.form-link-signUp {
    font-family: "Bodoni Moda", serif;
    color: white;
    font-size: 1rem;
}

.form-link-signUp>a {
    color: white;
    margin-left: 5px;
}

/* CSS: Icon */

.icon {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    left: 10px;
    top: 25px;
}

.icon-show {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    top: 25px;
    right: 15px;
}

.link_home-mobile {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    z-index: 2;
    font-size: 1rem;
    padding-bottom: 3px;
}

.link_home-mobile>span {
    position: absolute;
    font-size: 1.3rem;
    left: -13px;
    top: -3px;
}

/* Effect CSS */

.card__introduce-container>a:hover {
    transition: 0.3s all ease;
    cursor: pointer;
    background-color: white;
    color: rgb(72, 56, 39);
    font-weight: 700;
}

.form-main .form-input>input:hover,
.btn-login:hover {
    transition: 0.3s all ease-in-out;
    background-color: rgba(169, 168, 168, 0.2);
}

.form-footer a:hover,
.form-link-signUp a:hover {
    font-weight: 700;
}

.form-input>input:focus {
    outline: 0;
}

.form-input>input::placeholder {
    font-family: "EB Garamond", serif;
    color: white;
    font-size: 1rem;
}

/* Responsive */
@media screen and (max-width:575px) {
    .form-login {
        width: 100%;
    }

    .link_home-mobile {
        display: block;
    }

    .form-background {
        filter: brightness(45%);
    }

    .form__col:nth-child(1) {
        display: none;
    }

    .form__row {
        height: 0vh;
    }

    .form__col:nth-child(2) {
        order: 1;
        margin-top: 10%;
        padding: 50px 0;
    }

    .form-main {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        background: transparent !important;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .form-login {
        width: 100%;
    }

    .link_home-mobile {
        display: block;
        font-size: 1.2rem;
    }

    .form-background {
        filter: brightness(45%);
    }

    .form__col:nth-child(1) {
        display: none;
    }

    .form__row {
        height: 0vh;
    }

    .form__col:nth-child(2) {
        width: 100%;
        order: 1;
        margin-top: 10%;
        padding: 50px 0;
    }

    .form-main {
        width: 60%;
        margin: 0 auto;
        padding: 0;
        background: transparent !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .form-login {
        width: 100%;
    }

    .form-background {
        filter: brightness(45%);
    }

    .form__col:nth-child(1) .card__introduce-container {
        padding: 0;
    }

    .card__introduce-container .card__content {
        font-size: 1.3rem;
        margin: 20px 0;
    }

    .form-main {
        width: 90%;
        padding: 0;
        background: transparent !important;
    }
}