.about {
    padding-top: 10%;
    background-color: #F3F3F0;
}

/* CSS: Container */
.about__container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.about__container>img {
    width: 10%;
}

/* CSS: Content */
.about__title {
    font-family: "Lora", serif;
    font-size: 3rem;
    color: rgb(78, 71, 62);
    margin: 15px 0;
    letter-spacing: 1px;
}

.about__content {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    color: rgb(78, 71, 62);
    line-height: 30px;
}

/* Responsive */
@media screen and (max-width:575px) {
    .about {
        padding-top: 40%;
        margin-top: 20%;
    }

    .about__container {
        width: 80%;
    }

    .about__container>img {
        width: 15%;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__content {
        font-size: 1rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .about {
        padding-top: 35%;
    }

    .about__container {
        width: 80%;
    }

    .about__container>img {
        width: 12%;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__content {
        font-size: 1rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .about {
        padding-top: 30%;
    }

    .about__container {
        width: 80%;
    }

    .about__container>img {
        width: 10%;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__content {
        font-size: 1.1rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .about {
        padding-top: 25%;
    }

    .about__container {
        width: 80%;
    }

    .about__container>img {
        width: 10%;
    }

    .about__title {
        font-size: 2.3rem;
    }

    .about__content {
        font-size: 1.2rem;
    }
}