.resort {
    padding-bottom: 5%;
}

/* CSS: Container */
.resort__container {
    width: 90%;
    margin: 0 auto;
}

.resort__title {
    position: relative;
    font-family: "Lora", serif;
    color: #403b34;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.resort__title::after,
.resort__title::before {
    content: "";
    position: absolute;
    width: 38%;
    height: 1px;
    border-radius: 5px;
    background-color: rgb(182, 155, 117);
}

.resort__title::before {
    top: 15px;
    left: 0;
}

.resort__title::after {
    top: 15px;
    right: 0;
}

/* CSS: Options */
.resort__options {
    justify-content: space-between;
    align-items: center;
}

.resort__options .col>div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.resort__options .col .input-search {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    width: 80%;
    padding: 10px 30px 10px 10px;
    border: 2px solid rgb(182, 155, 117);
    letter-spacing: 1px;
}

.resort__options .col .iconSearch {
    cursor: pointer;
    font-size: 18px;
    border: 1px solid rgb(182, 155, 117);
    background-color: rgb(182, 155, 117);
    padding: 10px 20px;
    color: white;
}

.resort__options .col .iconRefresh {
    cursor: pointer;
    font-size: 18px;
    border: 1px solid rgb(182, 155, 117);
    padding: 10px 20px;
    color: rgb(182, 155, 117);
}


.resort__options .col .input-search::placeholder {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

/* CSS: List */
.resort__list {
    margin-top: 5%;
    justify-content: space-between;
    text-align: center;
    gap: 80px;
}

/* CSS: Item */
.resort__item {
    position: relative;
    width: 47%;
    height: 500px;
    transition: 0.3s all ease;
    overflow: hidden;
}

.resort__item>img {
    width: 100%;
    height: inherit;
    filter: brightness(85%);
}

.resort__card {
    position: absolute;
    color: white;
    background: linear-gradient(160deg, rgba(15, 14, 14, 0.3), rgba(221, 207, 207, 0.1));
    padding: 60px 40px;
    top: 20%;
    left: 100%;
    width: 400px;
    border-radius: 5px;
}

.resort__card .card__address {
    font-family: "EB Garamond", serif;
    font-size: 16px;
}

.resort__card .card__name {
    font-family: "Bodoni Moda", serif;
    font-size: 26px;
    margin: 20px 0;
    line-height: 40px;
    letter-spacing: 1px;
}

.resort__card .card__btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.3s all ease;
}

/* CSS: Pagination */
.resort__pagination {
    width: 100%;
    margin-top: 4%;
    text-align: center;
}

/* CSS: Active */
@keyframes showCard {
    0% {
        top: 20%;
        left: 100%;
    }

    100% {
        top: 20%;
        left: 15%;
    }
}

/* Effect CSS */
.input-search:focus {
    outline: 0;
}

.resort__card .card__btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.resort__item:hover {
    transition: 0.3s all ease;
    filter: brightness(90%);
}

.resort__item:hover .resort__card {
    animation: showCard 1s 1 ease forwards;
}

.resort__options .col:nth-child(1) .iconRefresh:hover {
    transition: 0.3s all ease;
    background-color: rgb(182, 155, 117);
    color: white;
    border-left: 1px solid white;
}

/* Responsive */
@media screen and (max-width:575px) {
    .resort__title {
        font-size: 1.3rem;
    }

    .resort__title::after,
    .resort__title::before {
        display: none;
    }

    .resort__list {
        gap: 30px 0;
    }

    .resort__item {
        width: 98%;
        height: 380px;
    }

    .resort__item::after {
        left: 10px;
    }

    .resort__card {
        display: none;
        width: 100%;
        left: 0;
        padding: 0;
    }

    .resort__card .card__address {
        font-size: 1rem;
        margin-top: 20px;
    }

    .resort__card .card__name {
        font-size: 1.5rem;
        padding: 0 20px;
    }

    .resort__card .card__btn {
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    .resort__item:hover .resort__card {
        display: block;
    }

    @keyframes showCard {
        0% {
            top: 20%;
            left: 100%;
        }

        100% {
            top: 20%;
            left: 0;
        }
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .resort__title {
        font-size: 1.5rem;
    }

    .resort__title::after,
    .resort__title::before {
        display: none;
    }

    .resort__list {
        gap: 30px 0;
    }

    .resort__item {
        width: 98%;
        height: 400px;
    }

    .resort__item::after {
        left: 10px;
    }

    .resort__card {
        display: none;
        width: 100%;
        left: 0;
        padding: 0;
    }

    .resort__card .card__address {
        font-size: 1rem;
        margin-top: 20px;
    }

    .resort__card .card__name {
        font-size: 1.8rem;
        padding: 0 20px;
    }

    .resort__card .card__btn {
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    .resort__item:hover .resort__card {
        display: block;
    }

    @keyframes showCard {
        0% {
            top: 30%;
            left: 100%;
        }

        100% {
            top: 30%;
            left: 0;
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .resort__title {
        font-size: 1.8rem;
    }

    .resort__title::after,
    .resort__title::before {
        display: none;
    }

    .resort__list {
        gap: 30px 0;
    }

    .resort__item {
        width: 48%;
        height: 350px;
    }

    .resort__item::after {
        left: 10px;
    }

    .resort__card {
        display: none;
        width: 100%;
        left: 0;
        padding: 0;
    }

    .resort__card .card__address {
        font-size: 1rem;
        margin-top: 20px;
    }

    .resort__card .card__name {
        font-size: 1.5rem;
        padding: 0 20px;
    }

    .resort__card .card__btn {
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    .resort__item:hover .resort__card {
        display: block;
    }

    @keyframes showCard {
        0% {
            top: 20%;
            left: 100%;
        }

        100% {
            top: 20%;
            left: 0;
        }
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .resort__title {
        font-size: 2rem;
    }

    .resort__title::after,
    .resort__title::before {
        display: none;
    }

    .resort__list {
        gap: 30px 0;
    }

    .resort__item {
        width: 48%;
        height: 350px;
    }

    .resort__item::after {
        left: 10px;
    }

    .resort__card {
        display: none;
        width: 100%;
        left: 0;
        padding: 0;
    }

    .resort__card .card__address {
        font-size: 1rem;
        margin-top: 20px;
    }

    .resort__card .card__name {
        font-size: 1.5rem;
        padding: 0 20px;
    }

    .resort__card .card__btn {
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    .resort__item:hover .resort__card {
        display: block;
    }

    @keyframes showCard {
        0% {
            top: 20%;
            left: 100%;
        }

        100% {
            top: 20%;
            left: 0;
        }
    }
}