/* CSS: Slider */
.slider-images-container {
    position: relative;
    z-index: -1;
}

.slider-images-container img {
    height: 85vh;
}

/* CSS: Arrow Slider */
.slider-images-container .slick-arrow {
    display: block;
    border-radius: 100%;
    background-color: #fff;
    padding: 15px;
    z-index: 2;
}

.slider-images-container .slick-next {
    right: -25px !important;
}

.slider-images-container .slick-prev {
    left: -25px !important;
}

/* Effect CSS */
.slider-images-container .slick-next::before,
.slider-images-container .slick-prev::before {
    font-size: 24px;
    color: black;
    position: relative;
    top: -5px;

}

.slider-images-container .slick-next::before {
    content: '\21C0';
}

.slider-images-container .slick-prev::before {
    content: '\21BC';
}

/* CSS: Responsives */

@media screen and (max-width:575px) {
    .slider-images-container img {
        height: 60vh;
    }

    .slider-images-container .slick-arrow {
        padding: 5px;
    }

    .slider-images-container .slick-next {
        right: -15px !important;
    }

    .slider-images-container .slick-prev {
        left: -15px !important;
    }

    .slider-images-container .slick-next::before,
    .slider-images-container .slick-prev::before {
        font-size: 1.3rem;
        top: -3px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .slider-images-container img {
        height: 70vh;
    }

    .slider-images-container .slick-arrow {
        padding: 8px;
    }

    .slider-images-container .slick-next {
        right: -15px !important;
    }

    .slider-images-container .slick-prev {
        left: -15px !important;
    }

    .slider-images-container .slick-next::before,
    .slider-images-container .slick-prev::before {
        font-size: 1.3rem;
        top: -3px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .slider-images-container img {
        height: 80vh;
    }

    .slider-images-container .slick-arrow {
        padding: 8px;
    }

    .slider-images-container .slick-next {
        right: -15px !important;
    }

    .slider-images-container .slick-prev {
        left: -15px !important;
    }

    .slider-images-container .slick-next::before,
    .slider-images-container .slick-prev::before {
        font-size: 1.3rem;
        top: -3px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .slider-images-container img {
        height: 85vh;
    }

    .slider-images-container .slick-arrow {
        padding: 8px;
    }

    .slider-images-container .slick-next {
        right: -15px !important;
    }

    .slider-images-container .slick-prev {
        left: -15px !important;
    }

    .slider-images-container .slick-next::before,
    .slider-images-container .slick-prev::before {
        font-size: 1.3rem;
        top: -3px;
    }
}